html{
    -webkit-text-size-adjust: 100%;
}
body{
    background-color: #00ff817d !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
}
.main{
    max-width: 70%;
    margin: auto;
    width: 100%;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}
.nav{
    display: inline-block;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}
.nav ul li a{
    text-decoration: none;
    color: #337ab7;
}
